<div class="container">
  <form>
    <fieldset>
      <legend>Filters</legend>
      <label for="title">Title</label>
      <input type="text" name="title" [formControl]="titleControl" />
      <label for="releaseDate">Release year</label>
      <input type="number" name="releaseDate" [formControl]="yearControl" />
    </fieldset>
  </form>
  @for(movie of (filteredMovies$ | async) ?? (movies$ | async); track movie.id)
  {
  <app-movie-item [movie]="movie" (toggleFavorite)="isMovieFavorite($event)" />
  }
</div>
